/* ===========================================================
   Header
   =========================================================== */

header {
 background: $black;
 color: $white;
 position: relative;
 z-index: 99998;
}

header .container { padding: 2rem 0; }

.project-title {
  margin-bottom: 0;
  text-align: center;
}
