<footer>
  <div class="container">
    <div class="example__column">
      <h3>References</h3>
      <ul class="footer-list">
        <li>
          <a href="http://css-tricks.com/absolute-relative-fixed-positioining-how-do-they-differ" target="_blank">CSS Tricks: Absolute, Relative, Fixed Positioning: How Do They Differ?</a></li>
        <li>
          <a href="http://learn.shayhowe.com/html-css/positioning-content/" target="_blank">Learn to Code HTML &amp; CSS: Positioning</a>
        </li>
        <li>
          <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/position" target="_blank">Mozilla Developer Network: Position</a>
        </li>
      </ul>
    </div>
    <div class="example__column">
      <h3>Credits</h3>
      <ul class="footer-list">
        <li>
          <a href="http://www.freevector.com/super-mario-characters/" target="_blank">Super Mario Bros. Pack by CCorreaDesigns</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <p>All content on this website, including articles, artwork, screen shots, graphics, logos, digital downloads and other files, is the property of <a href="http://www.nintendo.com/corp/copyright.jsp" target="_blank">Nintendo of America Inc.</a>, unless owned by a third party, and is protected by United States and international copyright, trademark and other intellectual property laws. Trademarks and copyrights for third-party games and characters are owned by the companies that market or license those products.</p>
    </div>
  </div>
</footer>
